.menu-container {
    max-width: 85%;
    height: max-content;
    margin: 50px auto;
    position: center;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

